shaun/Readings/
oli/info/
oli/meeting_notes/
oli/papers/
oli/ssp_reports/
oli/shaun_code/
oli/old_stuff/
oli/output/
oli/AI_codxe/
oli/pyqsofit_code/output/
oli/pyqsofit_code/example/data/
oli/pyqsofit_code/example/output/
oli/qsofitmore_code/examples/
dust_maps_data/
Data/
data/
__pycache__/
.DS_Store
.vscode/
.github/